@import 'tailwindcss';
@import '@nuxt/ui';

/* 需要你去阿里妈妈(iconfont.cn)官网生成字体文件 */
/* 链接地址：https://www.iconfont.cn/fonts/detail?spm=a313x.fonts_index.i1.d9df05512.67e03a81J7Okrt&cnid=IhcTcFymWeyf */
/* 输入要生成的文字，点击代码引用，复制到此处 */
@font-face {
  font-family: "AlimamaDongFangDaKai";
  src: url("//at.alicdn.com/wf/webfont/uoyBX1BZj3Nf/knFAF2pNEQPA.woff2") format("woff2"), url("//at.alicdn.com/wf/webfont/uoyBX1BZj3Nf/lvucAxqixIv1.woff") format("woff");
  font-variation-settings: normal;
  font-display: swap;
}

.webfont {
  font-family: "AlimamaDongFangDaKai";
  font-variation-settings: normal; /* Chrome 140 以下版本需要 */
}

:root {
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: var(--color-white);

  --ui-bg: var(--color-white);
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);

  --ui-border: var(--ui-color-neutral-200);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: var(--ui-color-neutral-800);
}

.dark {
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: var(--color-white);
  --ui-text-inverted: var(--ui-color-neutral-900);

  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-bg-accented: var(--ui-color-neutral-700);
  --ui-bg-inverted: var(--color-white);

  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-700);
  --ui-border-accented: var(--ui-color-neutral-700);
  --ui-border-inverted: var(--color-white);
}

@theme {
  --font-sans: Rubik, 'Noto Sans SC', sans-serif;

  --leading-normal: normal;
}
